[Unit]
Description=Redis for PRC
After=network.target

[Service]
ExecStart=/cs/redis-prc/bin/redis-server /cs/redis-prc/etc/redis.conf --supervised systemd
ExecStop=/cs/redis-prc/libexec/redis-prc-stop.sh
Type=notify
User=prcuser
Group=prcgroup
RuntimeDirectory=redis
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target

